 {{ "<!-- Contact Section -->" | safeHTML }}
<section id="contact">
  <div class="container"> 
    <div class="row">
      <div class="col-lg-12 text-center">

        {{ with .Site.Params.contact.title }}
        <h2 class="section-heading">{{ . | markdownify }}</h2>
        {{ end }} {{ with .Site.Params.contact.subtitle }}
        <h3 class="section-subheading text-muted-bright">{{ . | markdownify }}</h3>
        {{ end }} {{ with .Site.Params.contact.telefon }}
        <h2 class="section-heading mail">{{ . | markdownify }}</h2>
        {{ end }} {{ with .Site.Params.contact.epost }}
        <h2 class="section-heading">{{ . | markdownify }}</h2>
        {{ end }} {{ with .Site.Params.contact.oppet }}
        <h3 class="section-subheading text-muted-bright">{{ . | markdownify }}</h3>
        {{ end }} {{ with .Site.Params.contact.address }}
        <h3 class="section-subheading text-muted-bright">{{ . | markdownify }} <br>
        {{ end }} {{ with .Site.Params.contact.postaddress }}
        {{ . | markdownify }}</h3>
        {{ end }}

          <a href="{{ "/faq/" | relURL }}" class="bigwhitelink" >Vanliga frågor</a>
      </div>
    </div>
  </div>
</section>