{{ "<!-- Footer section -->" | safeHTML }}
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <span class="copyright">{{ with .Site.Params.footer.copyright }}{{ . | markdownify }}{{ end }}</span>
      </div>
      <div class="col-lg-2">
        <ul class="list-inline social-buttons">

          {{ range .Site.Params.footer.social }}
            <li><a target="_blank" href="{{ .link }}" target="_blank" rel="noopener"><i class="fa {{ .icon }}"></i></a></li>
          {{ end }}
        </ul>
      </div>
      <div class="col-lg-5">
        <ul class="list-inline quicklinks">

          {{ range .Site.Params.footer.quicklinks }}
            <li><a href="{{ .link }}">{{ .text  | markdownify }}</a></li>
          {{ end }}
          {{ range .Site.Params.dropmenu.item }}
          <li>
            <a href="{{ .url | relURL }}">{{ .name }}</a>
          </li>
          {{ end }}

        </ul>
      </div>
    </div>
  </div>
</footer>
