<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="canonical" href="https://atn.olq.se{{ .RelPermalink }}" />

  {{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
  {{ with .Site.Params.name }}<meta name="author" content="{{ . }}">{{ end }}
  {{ .Hugo.Generator }}
  <title>{{ .Title }}{{ if not .IsHome }} &middot; {{ .Site.Title }}{{ end }}</title>
  {{ "<!-- Stylesheets -->" | safeHTML }}
  <script src="{{ "js/httpsredirect.js"| relURL }}"></script>
  <!-- <link href="{{ "css/bootstrap-v3.3.7/bootstrap.min.css" | relURL }}" rel="stylesheet"> -->
  <link href="{{ "css/bootstrap-v3.3.7-mini/bootstrap.min.css" | relURL }}" rel="stylesheet">
  <link rel="preload" href="/fonts/heebo-v3-latin-regular.woff2" as="font">
  <link rel="preload" href="/fonts/heebo-v3-latin-300.woff2" as="font">
  <link rel="preload" href="/fonts/heebo-v3-latin-700.woff2" as="font">
  <link href="{{ "css/agency-stripped.css" | relURL }}" rel="stylesheet">
  
  <!-- <link href="{{ "css/agency.css" | relURL }}" rel="stylesheet"> -->
  <!-- <link href="{{ "css/jquery.form-validator-v2.3.44/theme-default.min.css" | relURL }}" rel="stylesheet"> -->

  <!-- {{ range .Site.Params.custom_css }}
    <link rel="stylesheet" href="{{ . | relURL }}">
  {{ end }} -->

<!--   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
  integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
  crossorigin=""/>
 -->
  {{ "<!-- Custom Fonts -->" | safeHTML }}
  <link href="{{ "font-awesome-v4.7.0/css/font-awesome.min.css" | relURL }}" rel="stylesheet" type="text/css">
  <!-- <link href="{{ "css/fonts.css" | relURL }}" rel="stylesheet" type="text/css"> -->
  <!-- {{ with not .Site.Params.disableFonts }} -->
    
    <!-- <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"> -->
    <!-- https://google-webfonts-helper.herokuapp.com/fonts/montserrat?subsets=latin -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Heebo:300,400,700" rel="stylesheet">  -->
    <!-- <link href="//fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css"> -->
  <!-- {{ end }} -->

  {{ with .Site.Params.favicon }}
    <link rel="shortcut icon" type="image/x-icon" href="{{ . | relURL }}">
    <link rel="icon" type="image/x-icon" href="{{ . | relURL }}">
  {{ end }}

  {{ "<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->" | safeHTML }}
  {{ "<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->" | safeHTML }}
  {{ "<!--[if lt IE 9]>" | safeHTML }}
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  {{ "<![endif]-->" | safeHTML }}
</head>
