{{ "<!-- Hero -->" | safeHTML }}
<header>
    <!-- <video playsinline autoplay muted loop id="bgvid" poster="img/header-bg.jpg"> 
        <source src="img/lol3.mp4" type="video/mp4">
    </video> -->
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">{{ with .Site.Params.hero.title }}{{ . | markdownify }}{{ end }}</div>
      <div class="intro-heading">{{ with .Site.Params.hero.subtitle }}{{ . | markdownify }}{{ end }}</div>
      <a href="#contact" class="biglink">{{ with .Site.Params.hero.buttonText }}{{ . }}{{ end }}</a>
      <!-- <a href="#contact" class="page-scroll btn btn-xl">{{ with .Site.Params.hero.buttonText }}{{ . }}{{ end }}</a> -->
    </div>
  </div>
</header>
