{{ "<!-- Instagram -->" | safeHTML }}
<section id="instagram"> <!-- class="bg-light-gray"> -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ with .Site.Params.instagram.title }}{{ . }}{{ end }}</h2>
        <h3 class="section-subheading text-muted">{{ with .Site.Params.instagram.subtitle }}{{ . | markdownify }}{{ end }}</h3>
      </div>
    </div>
    
      <div class="text-center">
        <div id="instafeed"></div>
      </div>
      
      <br>  
      <div class="col-lg-12 text-center">
          <a href="https://www.instagram.com/affarstryckeriet" class="biglink" style="margin: 15px;">Fler nyheter</a>
          <!-- <a href="https://www.instagram.com/affarstryckeriet" class="btn btn-xl" style="margin: 15px;">Fler nyheter</a> -->
      </div>
    
<!-- @affarstryckeriet: 4236768222 -->
  </div>
</section>
