{{ "<!-- jQuery -->" | safeHTML }}
<script src="{{ "js/jquery-v3.3.1/jquery.min.js"| absURL }}"></script>

{{ "<!-- Bootstrap Core -->" | safeHTML }}
<!-- <script src="{{ "js/bootstrap-v3.3.7/bootstrap.min.js"| absURL }}"></script> -->
<script src="{{ "js/bootstrap-v3.3.7-mini/bootstrap.min.js"| absURL }}"></script>
<!-- {{ "Form Validation" | safeHTML }} -->
<!-- <script src="{{ "js/jquery.form-validator-v2.3.44/jquery.form-validator.js"| absURL }}"></script> -->

{{ "<!-- Custom Theme -->" | safeHTML }}
<script src="{{ "js/agency.js"| absURL }}"></script>
<!-- <script type="text/javascript" src="{{ "js/instafeed.min.js"| absURL }}"></script> -->
<script type="text/javascript" src="{{ "js/instagram.js"| absURL }}"></script>

<!-- Google Map -->
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
<script src={{ "js/google_map.js"| absURL }}></script>
 -->
<!-- {{ template "_internal/google_analytics_async.html" . }} -->

{{ if .Site.Params.analytics.piwik }}
  {{ partial "_analytics/piwik.html" . }}
{{ end }}

{{ range .Site.Params.custom_js }}
  <script src="{{ . | absURL }}"></script>
{{ end }}
