{{ "<!-- Portfolio Modals -->" | safeHTML }}
<!-- {{ if eq .Permalink "/" }}
  {{ range .Site.Data.projects }}
    {{ if .frontpage }}
    <div class="modal fade" id="portfolioModal-{{ .title | urlize }}" role="modal" >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h2 class="modal-title">{{ .title  | markdownify }}</h2>
              <p class="item-intro text-muted">{{ .subtitle | markdownify }}</p>
          </div>
          <div class="modal-body">
            
            {{ $url := printf "img/portfolio/%s" .img }}
            
            <p>{{ .description | markdownify }}</p>
            <p>{{ .Content }}</p>
            <img class="img-responsive img-centered lazy_load" data-src="{{ $url | absURL }}" alt="">

          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
          </div>
        </div>
      </div>
    </div>
    {{ end}} 
  {{ end}}
{{ else }} -->
  {{ range .Site.Data.projects }}

  <div class="modal fade" id="portfolioModal-{{ .title | urlize }}" role="modal" >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h2 class="modal-title">{{ .title  | markdownify }}</h2>
            <p class="item-intro text-muted">{{ .subtitle | markdownify }}</p>
        </div>
        <div class="modal-body">
          
          {{ $url := printf "img/portfolio/%s" .img }}
          
          <p>{{ .description | markdownify }}</p>
          <p>{{ .Content }}</p>
          <p>{{ $url }}</p>
          <p>{{ $url | absURL }}</p>
          <p> perma:  {{ .Permalink }}</p>
          <img class="img-responsive img-centered lazy_load" data-src="{{ $url | absURL }}" alt="">

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
        </div>
      </div>
    </div>
  </div>

  {{ end}} 

  <!-- {{ end }} -->

