{{ "<!-- Navigation -->" | safeHTML }}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    {{ "<!-- Brand and toggle get grouped for better mobile display -->" | safeHTML }}
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <p style="font-size: 8pt;">meny</p>
      </button>
      {{ if .Site.Params.navigation.mobilelogo }}
        <a class="navbar-brand-mobile page-scroll" href="{{ if .IsHome }}/#page-top{{ else }}{{ .Site.BaseURL }}{{end}}">
          {{ $url := printf "img/%s" .Site.Params.navigation.mobilelogo }}
          <img src="{{ $url | absURL }}" class="img-responsive" alt="{{ .Site.Params.navigation.mobilelogo }}">
        </a>
      {{ end }}
      {{ if .Site.Params.navigation.logowhite }}
        <a class="navbar-brand logo-white page-scroll hidden-xs " href="{{ if .IsHome }}/#page-top{{ else }}{{ .Site.BaseURL }}{{end}}">
          {{ $url := printf "img/%s" .Site.Params.navigation.logowhite }}
          <img src="{{ $url | absURL }}" class="img-responsive" alt="{{ .Site.Params.navigation.brand }}">
        </a>
        {{ end }}
         {{ if .Site.Params.navigation.logoblack }}
        <a class="navbar-brand logo-black page-scroll" href="{{ if .IsHome }}/#page-top{{ else }}{{ .Site.BaseURL }}{{end}}">
          {{ $url := printf "img/%s" .Site.Params.navigation.logoblack }}
          <img src="{{ $url | absURL }}" class="img-responsive" alt="{{ .Site.Params.navigation.brand }}">
        </a>
      {{ else }}
        <a class="navbar-brand page-scroll" href="{{ if .IsHome }}/#page-top{{ else }}{{ .Site.BaseURL }}{{end}}">
          {{ .Site.Params.navigation.brand }}
        </a>
      {{ end }}

    </div>
    {{ "<!-- Collect the nav links, forms, and other content for toggling -->" | safeHTML }}
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="{{ .Site.BaseURL }}"></a> 
        </li>

        {{ range .Site.Menus.prepend }}
          <li>
            <a href="{{ .URL | relURL }}">{{ .Name | markdownify }}</a>
          </li>
        {{ end }}

        {{ if .Site.Params.navigation.services }}
          <li>
            <a class="page-scroll" href="{{ .Site.BaseURL }}#services">{{ with .Site.Params.navigation.services }}{{ . }}{{ end }}</a>
          </li>
        {{ end }}

        {{ if .Site.Params.navigation.portfolio }}
          <li>
            <a class="page-scroll" href="{{ .Site.BaseURL }}#portfolio">{{ with .Site.Params.navigation.portfolio }}{{ . }}{{ end }}</a>
          </li>
        {{ end }}

        {{ if .Site.Params.navigation.about }}
          <li>
            <a class="page-scroll" href="{{ .Site.BaseURL }}#about">{{ with .Site.Params.navigation.about }}{{ . }}{{ end }}</a>
          </li>
        {{ end }}

        {{ if .Site.Params.navigation.team }}
          <li>
            <a class="page-scroll" href="{{ .Site.BaseURL }}#team">{{ with .Site.Params.navigation.team }}{{ . }}{{ end }}</a>
          </li>
        {{ end }}

        {{ if .Site.Params.navigation.contact }}
          <li>
            <a class="page-scroll" href="{{ .Site.BaseURL }}#contact">{{ with .Site.Params.navigation.contact }}{{ . }}{{ end }}</a>
          </li>
        {{ end }}

        {{ range .Site.Menus.postpend }}
          <li>
            <a href="{{ .URL | relURL }}">{{ .Name }}</a>
          </li>
        {{ end }}
        

        <!-- <li class="hidden-xs">
          <a href="#" class="dropdown-toggle" id="dropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ .Site.Params.dropmenu.title}}
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {{ range .Site.Params.dropmenu.item }}
            <li>
            <a class="dropdown-item" href="{{ .url | relURL }}">{{ .name }}</a>
          </li>
            {{ end }}
          </ul>
        </li> -->
        
        <!-- {{ range .Site.Params.dropmenu.item }}
        <li class="visible-xs">
            <a href="{{ .url | relURL }}">{{ .name }}</a>
        </li>
        {{ end }} -->
      

<!--         <li>
            
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              {{ with .Site.Menus.title }}{{ . | markdownify }}{{ end }}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              {{ range .Site.Menus.itemdropmenu }}
                                <a class="dropdown-item" href="{{ .URL }}">{{ .Name }}</a> <br>
                              {{ end }}
                            </div>    
                        </div>
                    </li> -->


      </ul>
    </div>
    {{ "<!-- /.navbar-collapse -->" | safeHTML }}
  </div>
  {{ "<!-- /.container-fluid -->" | safeHTML }}
</nav>