{{ "<!-- Portfolio Grid Section -->" | safeHTML }}
<!-- <section id="portfolio" class="bg-light-gray"> -->
<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ with .Site.Params.portfolio.title }}{{ . | markdownify }}{{ end }}</h2>
        <h3 class="section-subheading text-muted">{{ with .Site.Params.portfolio.subtitle }}{{ . | markdownify }}{{ end }}</h3>
      </div>
    </div>
    <div class="row">

      {{ range .Site.Data.projects }}
      {{ if .frontpage }}
        <div class="col-md-4 col-xs-6 portfolio-item">
            <a href="#portfolioModal-{{ .title | urlize }}" class="portfolio-link" data-toggle="modal" data-target="#portfolioModal-{{ .title | urlize }}">
            <div class="portfolio-hover" style="background: {{ .color }}c9;">
              <div class="portfolio-hover-content">
                <!-- <i class="fa fa-search-plus fa-3x"></i> -->
                <p>{{ .subtitle | markdownify }}</p>
                <span class="fa fa-arrow-right"></span>
              </div>
            </div>
            {{ $url := printf "img/portfolio/%s" .preview }}
            <img src="{{ $url | absURL }}" class="img-responsive" alt="">
          </a>
          <div class="portfolio-caption">
            <a href="#portfolioModal-{{ .title | urlize }}" class="portfolio-link" data-toggle="modal" data-target="#portfolioModal-{{ .title | urlize }}">
              <h4>{{ .title | markdownify }}</h4>
            </a>
            <!--<p class="text-muted">{{ .category | markdownify }}</p>-->
            <!-- <p class="text-muted">{{ .subtitle | markdownify }}</p> -->
          </div>
        </div>
      {{ end }}
      {{ end }}

    </div>
    
    <div class="col-lg-12 text-center">
    <a href="{{ "/produkter/" | relURL }}" class="biglink">{{ .Site.Params.portfolio.buttontext }}</a>
    <!-- <a href="{{ "/produkter/" | relURL }}" class="btn btn-xl">{{ .Site.Params.portfolio.buttontext }}</a> -->
  </div>
  </div>
</section>
