{{ "<!-- Portfolio Section -->" | safeHTML }}




<!-- /* rutnät  -->
<section id="portfolio"> 
<!-- <section id="portfolio" class="bg-light-gray">  -->
  
    <div class="row">

      {{ range .Site.Data.projects }}
      
        <div class="col-md-3 col-sm-6 portfolio-item">
            <a href="#portfolioModal-{{ .title | urlize }}" class="portfolio-link" data-toggle="modal" data-target="#portfolioModal-{{ .title | urlize }}">
            <div class="portfolio-hover"> <!-- add background color here -->
              <div class="portfolio-hover-content">
                <!-- <i class="fa fa-search-plus fa-3x"></i> -->
                <p>{{ .subtitle | markdownify }}</p>
                <span class="fa fa-arrow-right"></span>
              </div>
            </div>
            {{ $url := printf "img/portfolio/%s" .preview }}
            <img src="{{ $url | absURL }}" class="img-responsive" alt="">
          </a>
          <div class="portfolio-caption">
            <a href="#portfolioModal-{{ .title | urlize }}" class="portfolio-link" data-toggle="modal" data-target="#portfolioModal-{{ .title | urlize }}">
              <h4>{{ .title | markdownify }}</h4>
            </a>
            <!--<p class="text-muted">{{ .category | markdownify }}</p>-->
            <!-- <p class="text-muted">{{ .subtitle | markdownify }}</p> -->
          </div>
        </div>
      
      {{ end }}

    </div>
  
</section>
<section id="produkt-listor"> 

<!-- rutnät */  -->

{{ partial "modals.html" . }}
  


<!-- /* Listor -->
<div class="row">
<div class="col-md-4 col-sm-6">
  <h3 class="section-heading">Efterbehandling</h3> 
  <h3 class="section-subheading text-muted">.Params.efterbehandlingarintro</h3>
  <ul>
    {{ range .Params.efterbehandlingar }}
      <li>{{ . }}</li>
    {{ end }}
  </ul>
</div>

<div class="col-md-4 col-sm-6">

<h3 class="section-heading">Övriga produkter</h3> 
<h3 class="section-subheading text-muted">.Params.andraprodukterintro</h3>
  <ul>
      {{ range .Params.andraprodukter }}
        <li>{{ . }}</li>
      {{ end }}
  </ul>
</div>
<div class="col-md-4 col-sm-6">
<h3 class="section-heading">Övriga produkter</h3> 
<h3 class="section-subheading text-muted">.Params.specialprodukterintro</h3>
  <ul>
      {{ range .Params.specialprodukter }}
        <li>{{ . }}</li>
      {{ end }}
  </ul>
</div>
</div>

<!-- Listor */ -->
    

</section>

<!--
{{ define "main" }}
<section id="main">
  <h1 id="title">{{ .Title }}</h1>
  <div>
        <article id="content">
           {{ .Content }}
        </article>
  </div>
</section>
<aside id="meta">
    <div>
    <section>
      <h4 id="date"> {{ .Date.Format "Mon Jan 2, 2006" }} </h4>
      <h5 id="wordcount"> {{ .WordCount }} Words </h5>
    </section>
    {{ with .Params.topics }}
    <ul id="topics">
      {{ range . }}
        <li><a href="{{ "topics" | absURL}}{{ . | urlize }}">{{ . }}</a> </li>
      {{ end }}
    </ul>
    {{ end }}
    {{ with .Params.tags }}
    <ul id="tags">
      {{ range . }}
        <li> <a href="{{ "tags" | absURL }}{{ . | urlize }}">{{ . }}</a> </li>
      {{ end }}
    </ul>
    {{ end }}
    </div>
    <div>
        {{ with .PrevInSection }}
          <a class="previous" href="{{.Permalink}}"> {{.Title}}</a>
        {{ end }}
        {{ with .NextInSection }}
          <a class="next" href="{{.Permalink}}"> {{.Title}}</a>
        {{ end }}
    </div>
</aside>
{{ end }}

-->