{{ "<!-- Team Section -->" | safeHTML }}
<section id="team">
  <!-- </section>class="bg-light-gray"> -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ with .Site.Params.team.title }}{{ . | markdownify }}{{ end }}</h2>
        <h3 class="section-subheading text-mutedwith ">{{ with .Site.Params.team.subtitle }}{{ . | markdownify }}{{ end }}</h3>
      </div>
    </div>
    <div class="row">
      {{ range .Site.Params.team.members }}
      <div class="col-sm-3 col">
        <div class="team-member">
          {{ $url := printf "img/team/%s" .img }}
          <img src="{{ $url | absURL }}" class="img-responsive img-circle" alt="{{ .name }}">
          <h4>{{ .name | markdownify }}</h4>
            {{ with .position }}
          <p>{{ . | markdownify }}</p>
          {{ end }} {{ with .reportsTo }}
          <h5 class="report">Reports to {{ . | markdownify }}</h5>
          {{ end }} {{ with .livesIn }}
          <h5>Lives in {{ . | markdownify }}</h5>
          {{ end }} {{ with .scope }}
          <ul>
            {{ range . }}
            <li>{{ . | markdownify }}</li>
            {{ end }}
          </ul>
          {{ end }}
          <ul class="list-inline social-buttons">
            {{ if .mail }}
            <li>
              <a href="mailto:{{ .mail  }}">
                <i class="fa fa-at"></i>
              </a>
            </li>
            {{ end }} {{ if .phone }}
            <li>
              <a href="tel:{{ .phone  }}" data-toggle="tooltip" title="{{ .phone  }}" data-placement="bottom">
                <i class="fa fa-phone"></i>
              </a>
            </li>
            {{ end }} {{ if .linkedin }}
            <li>
              <a href="{{ .linkedin  }}" target="_blank" rel="noopener">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
            {{ end }}
          </ul>
          {{ with .bio }}
          <p class="team-bio">{{ . | markdownify }}</p>
          {{ end }}
        </div>
      </div>
      {{ end }}
    </div>
    {{ if .Site.Params.team.description }}
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p class="large text-muted">{{ with .Site.Params.team.description }}{{ . | markdownify }}{{ end }}</p>
      </div>
    </div>
    {{ end }}
  </div>
</section>