/*!
 * Start Bootstrap - Agency Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* heebo-regular - latin */
@font-face {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Heebo'), local('Heebo-Regular'),
         url('/fonts/heebo-v3-latin-regular.woff2') format('woff2'),
         url('/fonts/heebo-v3-latin-regular.woff') format('woff');
  }
  
  /* heebo-300 - latin */
  @font-face {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Heebo Light'), local('Heebo-Light'),
         url('/fonts/heebo-v3-latin-300.woff2') format('woff2'),
         url('/fonts/heebo-v3-latin-300.woff') format('woff');
  }
  
  /* heebo-700 - latin */
  @font-face {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Heebo Bold'), local('Heebo-Bold'),
         url('/fonts/heebo-v3-latin-700.woff2') format('woff2'),
         url('/fonts/heebo-v3-latin-700.woff') format('woff');
  }
  
  

 body {
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    margin: 0;
    font-family: 'Heebo', "Helvetica Neue",Helvetica,Arial, sans-serif;
}

.text-muted {
    color: #555;
}
.text-muted-bright {
    color: #ccc;
}

.text-primary {
    color: #ee0001;
}

p {
    font-size: 16px;
    line-height: 1.75;
    font-weight: 300;
}

a,
a:hover,
a:focus,
a:active {
    outline: 0;
    /* color: #e20613; */
    color: #ee0001;
}

/* a {
    color: #e20613;
}

a:hover,
a:focus,
a:active {
    color: #e73737;
} */

h2 {
    text-transform: uppercase;
    font-weight: 700;
}

h3,
h4 {
    text-transform: none;
    font-weight: 700;
}


h3 {
    font-weight: 300;
}

h2.section-heading.mail a {
    text-transform: none;
}

.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-color: #f7f7f7;
}

.btn-xl {
    min-width: 20px;
    padding: 20px 10px;
    /* border-color: #555; */
    /* border-radius: 3px; */
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
    color: #232323;
    white-space:normal !important;
    word-wrap: break-word; 
}

.intro-text .btn-xl {
    color: #fff;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active {
    color: #fff;
    background-color: #ee0001;
}

/* .btn-xl:active {
    background-image: none;
} */

.navbar-default {
    border-color: transparent;
    background-color: #fff;
    border-bottom: 4px solid red;
    min-height: 65px;
}

/* .navbar-default .navbar-brand {
    color: #e20613;
} */

.navbar-brand>img {
    position: absolute;
    display:block;
    height: 50px;
    max-width: 250px;
    margin: -15px;
}

@media(min-width:340px) {
    .navbar-brand>img {
        height: 50px;
        max-width: 300px;
        margin: -15px;
    }
}
.navbar-brand-mobile>img {
    position: absolute;
    display:none;
    top: 20px;
    height: 50px;
    margin: -15px;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
    height: 40px;
    width: 40px;
}

/* hamburgaren */
.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
}


.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #fff;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-weight: 300;
    color: #000;
}
a.biglink {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 300;
    color: #ee0001;
}

a.bigwhitelink {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #e20613;
}

@media(min-width:768px) {
    .navbar-default {
        padding: 5px 0;
        border: 0;
        background: none;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        transition: all .5s;
        
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    /* MENYN */
    .navbar-default.navbar-shrink {
        background-color: #fff;
        border-bottom: 4px solid red;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        transition: all .5s;
    }
    .navbar > .container .logo-white
    {
        display: block;
    }
    .navbar-shrink > .container .logo-white
    {
        display: none;
    }
    .navbar > .container .logo-black
    {
        display: none;
    }
    .navbar-shrink > .container .logo-black
    {
        display: block;
    }
    .navbar-default .nav li a {
        color: white;
    }
    .navbar-default.navbar-shrink .nav li a {
        color: #292927;
    }
    .navbar-default.navbar-shrink .nav li a:hover,
    .navbar-default.navbar-shrink .nav li a:focus {
        color: #e20613;
    }
    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

header {
    text-align: center;
    /* color: #e20613; */
    color: #fff;
    background-attachment: scroll;
    background-image: url(../img/lupp.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    /* text-shadow: 8px 8px 15px rgba(150, 150, 150, 1); */
    text-shadow: 8px 8px 15px rgb(70, 70, 70);
}

header .intro-text {
    padding-top: 200px;
    padding-bottom: 133px;
    /* color: #fff; */
}
header .section-text {
    padding-top: 100px;
    padding-bottom: 100px;
    /* color: #fff; */
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-size: 33px;
    font-weight: 700;
    line-height: 36px;
}

@media(min-width:768px) {
    header .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }

    header .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-size: 30px; 
        line-height: 40px;
    }

    header .intro-text .intro-heading {
        margin-bottom: 50px;
        font-size: 50px;
        line-height: 75px;
    }
}

section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
}

section h3.section-subheading {
    margin-bottom: 50px;
    font-size: 18px;
    font-weight: 300;
}

section {
    padding: 50px 0;
}

@media(min-width:768px) {
    section {
        padding: 75px 0;
    }
    section h3.section-subheading {
        margin-bottom: 75px;
    }
}

.service-heading {
    margin: 15px 0;
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    /* background: #fe4d36e6; */
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    /* color: #fff; */
}

/* @media(max-width:400px) {
    #portfolio .portfolio-item .portfolio-caption {
        max-width: 350px;
    }
    #portfolio .portfolio-item .portfolio-link {
        
        max-width: 350px;
    }

} */

#portfolio .portfolio-item .portfolio-caption {
    margin: 0 auto;
    /* margin-top: 15px; */
    padding: 15px;
    min-height: 70px;
    max-width: 400px;
    text-align: center;
    background-color: #fff;
    line-height: 0%;
}

#portfolio .portfolio-item .portfolio-caption h4 {
    margin-top: 0;
    margin-bottom: 0;
}

#portfolio .portfolio-item a {
    color: #000;
}

#portfolio .portfolio-item a:hover {
    color: #e20613;
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    background-color: #f1f1f1;
}

.timeline>li {
    position: relative;
    margin-bottom: 50px;
    min-height: 50px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li .timeline-panel {
    float: right;
    position: relative;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-image {
    z-index: 100;
    position: absolute;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    border: 7px solid #f1f1f1;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    background-color: #e20613;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
}


.timeline .timeline-body>p {
    margin-bottom: 0;
}

@media(min-width:768px) {
    .timeline:before {
        left: 50%;
    }

    .timeline>li {
        margin-bottom: 100px;
        min-height: 100px;
    }

    .timeline>li .timeline-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }

    .timeline>li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
}

@media(min-width:992px) {
    .timeline>li {
        min-height: 150px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px;
    }

    .timeline>li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px;
    }
}

@media(min-width:1200px) {
    .timeline>li {
        min-height: 170px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px 100px;
    }

    .timeline>li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 100px 20px 20px;
    }
}

.team-member {
    text-align: center;
}

.team-member img {
    margin: 0 auto;
    border: 7px solid #fff;
}

/* .team-member ul {
    list-style: none;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0;
} */

section#contact {
    background-color: #222;
    background-image: url(../img/gubbe-dark.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@media(max-width:768px) {
    background-size: 50%;
}

section#contact a,
section#contact h3,
section#contact .section-heading {
    color: #fff;
}

footer {
    padding: 25px 0;
    text-align: center;
    line-height: 40px;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:active {
    background-color: #e20613;
}

.btn:focus,
.btn:active,
.btn:active:focus {
    outline: 0;
}

/* .modal-dialog {
    grid-template-columns: 40px 1fr 40px;
    display: grid;
    / min-height: 100vh; /
} */

/* .modal-content {
    grid-row: 1;
    grid-column: 2 / 3;
    border-radius: 0;
    border: 1px;
} */

/* .modal-nav-right {
    grid-row: 1;
    grid-column: 3 / 4;
}

.modal-nav-left {
    grid-row: 1;
    grid-column: 1 / 2;
} */

.modal-body p {
    margin-bottom: 15px;
}

.modal-body img{
    margin-bottom: 15px;
}

#instafeed {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(2, minmax(135px, 320px));
    justify-content: center;
}

#instafeed > a {
    transition: 0.3s;
    position: relative;
}

/* #instafeed a:focus,
#instafeed a:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} */

#instafeed img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#instafeed > a .instagram-hover
{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    bottom: 0%;
    background: #fe4d36e6;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
    z-index: 10;
}

#instafeed > a .instagram-hover:hover,
#instafeed > a .instagram-hover:focus
{
    opacity: 1;
}

#instafeed > a .instagram-hover > .instagram-hover-content
{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 20px;
    color: #fff;
    text-overflow: ellipsis; 
    overflow:hidden; 
    -webkit-line-clamp: 3;

}

#instafeed > a .instagram-hover > .instagram-hover-content p
{
    position: absolute;
    top: 10%;
    bottom: 10%;
    font-size: 0.6em;
    text-overflow: ellipsis; 
    overflow:hidden; 
    -webkit-line-clamp: 3;
}

#instafeed > a .instagram-hover > .instagram-hover-content span.fa
{
    position: absolute;
    bottom: 5%;
}

@media(min-width:600px) {

    #instafeed {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(3, minmax(135px, 320px));
        /* grid-template-rows: 270px 270px; */
        /* grid-template-rows: min-content; */
        /* grid-template-rows: repeat(2, minmax(135px, 270px)); */
    }

    #instafeed > a .instagram-hover > .instagram-hover-content p
    {
        position: absolute;
        top: 10%;
        bottom: 10%;
        font-size: 0.75em;
        text-overflow: ellipsis; 
        overflow:hidden; 
        /* height: 80%; */
        -webkit-line-clamp: 3;
    }
}


.container#lmnamaterial .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media (min-width: 768px) {
    .container#lmnamaterial .container {
      width: 650px;
    }
  }
  @media (min-width: 992px) {
    .container#lmnamaterial .container {
      width: 650px;
    }
  }
  @media (min-width: 1200px) {
    .container#lmnamaterial .container {
      width: 650px;
    }
  } 