<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

  {{ partial "head.html" . }}
  

  <body id="page-top" class="index">
    {{ partial "nav.html" . }}

<!-- ############################################################### -->

<header>

    <div class="section-text">
    <h2 >{{.Title}}</h2>
    <h3>{{ .Params.subtitle}}</h3>
  </div>

</header>

{{ if .Params.type }}
<!-- {{ .Params.type }} Page Section -->


{{ "<!-- {{ .Params.type }} Page Section -->" | safeHTML }}
<section id="{{ .Params.type }}">
{{ else }}
{{ "<!-- Single Page Section -->" | safeHTML }}
<section id="single-page">
{{ end }}

{{ if eq .Params.type "instagram" }}
  {{ partial "instagram.html" . }}
  {{ partial "produkter.html" . }}
{{ end }}


<div class="container">
   <!--    <div class="row">
      <div class="col-lg-12 text-center">

      </div>
    </div> -->
    <article id="content">
        {{ if eq .Params.type "produkter" }}
          {{ partial "produkter.html" . }}
        {{ end }}
        {{ .Content | markdownify }}
     </article>
  </div>
</section>
    
    
    <!-- ############################################################### -->
    
    
    {{ if .Site.Params.clients_list.enable }}
    {{ partial "clients.html" . }}
  {{ end }}

  {{ if .Site.Params.contact.enable }}
    {{ partial "contact.html" . }}
  {{ end }}

  {{ if .Site.Params.footer.enable }}
    {{ partial "footer.html" . }}
  {{ end }}

  {{ partial "js.html" . }}
</body>
</html>