<!-- Piwik -->
<!-- <script type="text/javascript" >
  var _paq = _paq || [];
  _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
  _paq.push(["setCookieDomain", "{{ .Site.Params.analytics.piwik.domain }}"]);
  _paq.push(["setDomains", ["{{ .Site.Params.analytics.piwik.domain }}"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="{{ .Site.Params.analytics.piwik.URL }}/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', {{ .Site.Params.analytics.piwik.ID }}]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; {{ if .Site.Params.analytics.piwik.hash }} g.integrity="{{ .Site.Params.analytics.piwik.hash }}"; g.crossorigin="anonymous";{{ end }} s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="{{ .URL }}/piwik.php?idsite={{ .Site.Params.analytics.piwik.ID }}" style="border:0;" alt="" /></p></noscript> -->
<!-- End Piwik Code -->



<!-- Matomo från riktiga matomo.olq.se setup -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//matomo.olq.se/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->